---
import Button from "./Button.astro";
---

<section class="grid-lg cta">
   <div class="grid-sm">
      <h2 class="h2">Déjame contar tu historia</h2>
      <p class="text-muted narrow"
         >Revela tu historia: Confíe en nosotros para iluminar el extraordinario viaje de su pasado, narrar su presente y
         vislumbrar su prometedor futuro.</p
      >
   </div>
   <div class="grid-sm">
      <Button text="Contáctame" link="#" style="secondary" />
      <small class="text-muted">contacto sin compromisos</small>
   </div>
</section>
