---
import Button from "./Button.astro";
---

<header class="grid-lg">
   <div class="grid-sm">
      <h1 class="h1">El <span class="underline--magical">DISEÑADOR</span> que estabas buscando</h1>
      <p class="text-muted narrow"
         >Aspiro a crear la mezcla perfecta de visión creativa y precisión técnica. Mi pasión es transformar conceptos
         abstractos en experiencias digitales tangibles. Sea un sitio web, una aplicación o un gráfico llamativo, disfruto de la
         oportunidad de convertir las ideas en realidad, con diligencia y dedicación</p
      >
   </div>
   <div class="grid-sm">
      <Button text="Contáctame" link="#" style="secondary" />
      <small class="text-muted">Contáctame sin compromisos</small>
   </div>
</header>
